@import "tailwindcss"; /* Importa Tailwind CSS */

/* -------------------------
   Variáveis de tema
------------------------- */
@theme {
  --color-blue2: #1E857C;
  --color-textb: #555151;
  --color-neutral: #E2E2E2;
  --color-neutralb: #9D9797;
}

/* Sombra interna mais forte */
.shadow-inner-strong {
  box-shadow: inset 0 4px 6px rgba(0, 0, 0, 0.4); 
}

/* -------------------------
   Fontes
------------------------- */
:root {
  --font-ibm: 'IBM Plex Mono', monospace;
  --font-lexend: 'Lexend Deca', sans-serif;
  font-family: var(--font-ibm-plex-mono), ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

/* Classe utilitária para Lexend */
.font-lexend {
  font-family: var(--font-lexend);
}

/* Fonte padrão do body */
body {
  font-family: var(--font-ibm);
}

/* -------------------------
   Botões principais
------------------------- */
.btn {
  padding: 0.4rem 0.7rem; 
  border-radius: 0.60rem; 
  font-weight: 600;
  transition: all 0.3s ease-in-out;
  background-color: var(--color-blue2);
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  font-family: var(--font-lexend);
  cursor: pointer;
  font-size: 0.9rem;
}

.btn:hover {
  background-color: #155e58; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25);
}

.btn:active {
  transform: scale(0.95);
}

/* Botões neutros */
.btn-neutral {
  padding: 0.4rem 0.7rem;
  border-radius: 0.75rem;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
  background-color: var(--color-neutralb);
  color: white;
  font-family: var(--font-lexend);
  cursor: pointer;
  font-size: 0.9rem;
}

.btn-neutral:hover {
  background-color: #636161;
  color: white;
}

.btn-neutral:active {
  transform: scale(0.95);
}

/* -------------------------
   Inputs
------------------------- */
.input {
  background-color: #e2e2e280;
  border-radius: 0.75rem;
  padding: 0.6rem;
  border: 1px solid;
  border-color: #63616185;
  outline: none; 
  transition: border-color 0.2s ease, box-shadow 0.2s ease;
  color: var(--color-textb);
}

.input:focus {
  border-color: #3cbdb28e;
}


